In [86]:
from pathlib import Path

import pandas as pd

# 1. Load station name list

In [87]:
data_folder = Path.cwd().parent / 'Shanghai'

data_path = data_folder / 'metro_network_shanghai.xlsx'
meta_info = pd.read_excel(data_path, sheet_name='line_info') \
    .query('sheet_name != "linemt"')

In [88]:
data_all = []
for ix, row in meta_info.iterrows():
    
    sn = row['sheet_name']
    ln = row['line_name']
    
    print(f'Loading data for {ln}')
    
    # load data from excel
    data = pd.read_excel(data_path, sn, 
                         dtype={'no' : int, 'station_spacing' : str, 'opening_data' : str}) \
             .assign(line_name = ln,
                     line_color = row['color'],
                     line_cycle = row['cycle'])
    
    data_all.append(data)

    # Check integrity of "date" columns
    pd.to_datetime(data.query('opening_date != "u/c"')['opening_date'])
    

# merge all date
data = pd.concat(data_all, axis=0, ignore_index=True) \
         .astype({'line_cycle' : bool})

Loading data for Line 1
Loading data for Line 2
Loading data for Line 3
Loading data for Line 4
Loading data for Line 5
Loading data for Line 5b
Loading data for Line 6
Loading data for Line 7
Loading data for Line 8
Loading data for Line 9
Loading data for Line 10
Loading data for Line 10b
Loading data for Line 11
Loading data for Line 11b
Loading data for Line 12
Loading data for Line 13
Loading data for Line 14
Loading data for Line 15
Loading data for Line 16
Loading data for Line 17
Loading data for Line 18
Loading data for Pujiang

In [89]:
# check the probable mix between columns "cumulative_distance" and "station_spacing"  
data.dropna().query('station_spacing != "-"') \
    .astype({'station_spacing' : float})

,no,name,name_zh,cumulative_distance,station_spacing,opening_date,line_name,line_color,line_cycle
1,2,Waihuanlu,外环路,1.303,1.303,1996-12-28 00:00:00,Line 1,#E3002B,False
2,3,Lianhua Road,莲花路,2.762,1.459,1996-12-28 00:00:00,Line 1,#E3002B,False
3,4,Jinjiang Park,锦江乐园,4.395,1.633,1995-04-10 00:00:00,Line 1,#E3002B,False
4,5,Shanghai South Railway Station,上海南站,6.484,2.089,1993-05-28 00:00:00,Line 1,#E3002B,False
5,6,Caobao Road,漕宝路,8.145,1.661,1993-05-28 00:00:00,Line 1,#E3002B,False
...,...,...,...,...,...,...,...,...,...
543,2,Sanlu Highway,三鲁公路,2.000,2.000,2018-03-31 00:00:00,Pujiang,#B5B5B6,False
544,3,Minrui Road,闵瑞路,3.000,1.000,2018-03-31 00:00:00,Pujiang,#B5B5B6,False
545,4,Puhang Road,浦航路,3.800,0.800,2018-03-31 00:00:00,Pujiang,#B5B5B6,False
546,5,Dongchengyi Road,东城一路,5.000,1.200,2018-03-31 00:00:00,Pujiang,#B5B5B6,False
547,6,Huizhen Road,汇臻路,6.600,1.600,2018-03-31 00:00:00,Pujiang,#B5B5B6,False

# 2. Request geographical location